* {
  box-sizing: border-box;
}

a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

body {
  background-color: #ccc;
  overflow: scroll;
  padding: 50px 300px 50px 300px;
}

dl {
  list-style-position: outside;
  text-indent: 0px;
}
dt {
  font-weight: bold;
  padding-left: 25px;
}
dd {
  padding-left: 10px;
}

div.quote {
  background-color: #ddd;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 12pt;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
  text-align: center;
  width: 70%;
}

hr {
  width: 50%;
}

p {
  text-indent: 25px;
}
p.policy {
  padding-left: 20px;
  padding-top: -10px;
}

span.b {
  font-weight: bold;
}
span.i {
  font-style: italic;
}
span.u {
  text-decoration: underline;
}
span.name {
  padding-left: 45px;
}

ul {
  list-style-position: outside;
  text-indent: 0px;
}
ul.frst {
  list-style-type: disc;
}
ul.scnd {
  list-style-type: circle;
  padding-left: 20px;
}


/* Style the header */
.header {
  background-color: #efefef;
  font-family: USN-Stencil;
  font-size: 38pt;
  margin-bottom: 2%;
  padding: 10px;
  text-align: center;
}
.subheader {
  font-family: Bombard;
  font-size: 28pt;
}

.column {
  float: left;
  padding: 10px;
}
/* Left  column */
.column.left {
  background-color: #f1f1f1;
  height: auto;
  margin-right: 2%;
  text-align: center;
  width: 20%;
}
/* Right column */
.column.right {
  background-color: #f1f1f1;
  font-family: ModernSans;
  width: 78%;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.title {
  font-family: Comfortaa;
  font-weight: bold;
}
.title.normal {
  font-size: 19pt;
}
.title.big {
  font-size: 28pt;
}

.options {
  cursor: pointer;
  font-family: Quicksand;
  font-size: 12pt;
  font-weight: bold;
  line-height: 25px;
  padding-top: 0px;
}

#content {
  font-family: Quicksand;
  font-size: 14pt;
  font-weight: normal;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
}

.center {
  text-align: center;
}