.rank {
  font-size: 14pt;
  font-weight: bold;
  font-style: normal;
}
.type {
  font-size: 12pt;
  font-weight: normal;
  font-style: italic;
}
a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}